<a href="https://colab.research.google.com/github/surabhipadmini/assignment1/blob/master/Copy_of_Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. given the lengths of three sides of the triangle calculate the area of the triangle
a=float(input("enter the length of 1st side of the triangle"))
b=float(input("enter the length of 2nd side of the triangle"))
c=float(input("enter the length of 3rd side of the triangle"))
if(a+b>c):
  s=(a+b+c)/2
  area=(s*(s-a)*(s-b)*(s-c))**(1/2)
  print("the area of the triangle is =",round(area,2))
else:
  print("the triangle is not possible")

enter the length of 1st side of the triangle10
enter the length of 2nd side of the triangle10
enter the length of 3rd side of the triangle10
the area of the triangle is = 43.3

In [ ]:
#2. take a string from end user and check weather the value is palindrome or not
s=input("enter a string")
if (s==s[::-1]):
  print("given string {} is polindrome".format(s))
else:
  print("given string {} is not polindrome".format(s))

enter a stringmadam
given string madam is polindrome

In [ ]:
#3. write a program that reads a year from the user and displays the message indicating weather the year is leap year or not
year=int(input("enter the year:"))
if (year%4==0 and year%100==0 or year%400==0):
  print("{} the entered year is leap year".format(year))
else:
  print("{}the entered year is not leap year".format(year))

enter the year:2020
2020the entered year is not leap year

In [2]:
#4. Space to hyphen problem
# take a string as input,and replaces spaces""with hyphen "-",and returns a string.
# input: this program converts spaces into hyphen"
# output: "this-program-converts-spaces-into-hyphen"
n=input("enter a string:")
print(n.replace(' ','-'))

enter a string:python function
python-function

In [3]:
#5. unique sort problem.
# take a string as input that accepts a comma seperated of words as input and print the unique words in sorted form(alphanumerically).
# input: orange,white,red,cyan,green,magenta,cyna,pink,white
# output: cyan,green,magenta,orange,pink,red,white
str=input("enter a string:")
s=str.split()
s.sort()
list(s)
set(s)

enter a string:chocolates icecreams

{'chocolates', 'icecreams'}

In [4]:
#6. Tax calculator
# ask the user for their monthly salary. Calculate whwther they have to pay tax and if so,
# how much is that amount. print the result.
salary=int(input("enter the salary:"))
if (salary>=0) and (salary<=2500000):
  tax=(salary*0)
elif (salary>2500000) and (salary<=2500000):
    tax=(salary*0.05)
elif (salary>500000) and (salary<=750000):
    tax=(salary*0.1)
elif (salary>750000) and (salary<=1000000):
    tax=(salary*0.15)
elif (salary>1000000) and (salary<=1250000):
    tax=(salary*0.2)
elif (salary>1250000) and (salary<=1500000):
    tax=(salary*0.25)
else:
    tax=(salary*0.3)
print("tax is:",tax)

enter the salary:3000000
tax is: 900000.0

In [ ]:
#7. take a list of integersn as a argument,and converts it into a single integer(return the integer)
# input: [11,33,50]
# output:[113350]
l=11,33,50
for i in l:
  print(i,end="")

113350

In [10]:
#8. Units of Time
#   Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. 
#   Compute and display the total number of seconds represented by this duration.

secondspermin=60
secondsperhour=3600
secondsperday=86400
days=int(input("Enter the number of Days: "))
hours=int(input("Enter the number of Hours: "))
minutes=int(input("Enter the number of Minutes: "))
seconds=int(input("Enter the number of Seconds: "))
totalseconds=days*secondsperday
totalseconds=totalseconds+(hours*secondsperhour)
totalseconds=totalseconds+(minutes*secondspermin)
totalseconds=totalseconds+seconds
print("Total number of seconds = ","%d"%(totalseconds))

Enter the number of Days: 5
Enter the number of Hours: 40
Enter the number of Minutes: 26
Enter the number of Seconds: 15
Total number of seconds =  577575

In [ ]:
#9. sort 3 integers
# given three integers(given through user input)sort the number using |min| and |max| functions
a=int(input("enter the number of a:"))
b=int(input("enter the number of b:"))
c=int(input("enter the number of c:"))
d=min(a,b,c)
e=max(a,b,c)
f=(a+b+c)-d-e
print("the sorted order is:",d,e,f)

enter the number of a:10
enter the number of b:20
enter the number of c:15
the sorted order is: 10 20 15

In [ ]:
#10. write a program that reads the data from the user and computes its immediate sucessor. The data is in the format YYYY-MM-DD so, 2020-06-15
# will have the sucessor 2020-06-16
year=int(input("enter the year:"))
if year%400== 0:
    leapyear=True
elif year%100==0:
    leapyear=False
elif year%4==0:
    leapyear=True
else:
    leapyear=False
month=int(input("Enter a month between 1 to 12 : "))
if month in (1, 3, 5, 7, 8, 10, 12):
    monthlength=31
elif month==2:
    if leapyear:
        monthlength=29
    else:
        monthlength=28
else:
    monthlength=30
day=int(input("Enter a day between 1 to 31 : "))
if day<monthlength:
    day+=1
else:
    day=1
    if month==12:
        month=1
        year+=1
    else:
        month+=1
print("The immediate successor is YYYY-MM-DD : %d-%d-%d." %(year,month,day))

enter the year:2001
Enter a month between 1 to 12 : 3
Enter a day between 1 to 31 : 4
The immediate successor is YYYY-MM-DD : 2001-3-5.

In [ ]:
#11. compute product of a list of numbers (45,3,2,89,72,1,10,7)
# output: 121111200
list=(45,3,2,89,72,1,10,7)
n=1
for i in range (len(list)):
  n=n*list[i]
print (n)

121111200

In [ ]:
#12. Compute given num_list [5,6,8,34,89,1] to get desired output
# output:out_list (11,14,42,123,90)
l=5,6,8,34,89,1
out_list=[]
for i in range(len(l)-1):
    ol=l[i]+l[i+1]
    out_list.append (ol)
print("out_list=",out_list)

out_list= [11, 14, 42, 123, 90]

In [12]:
#13.  Compute given Num_tuple 
t=(5,6,8,3,9,1)
I=[]
n=1
for i in t:
  n*=i
  I.append(n)
print("the output list is",I)

the output list is [5, 30, 240, 720, 6480, 6480]

In [13]:
#14. write a python code that takes a number and returns a list of its digits. So far 586392 it should be return to [5,6,3,9,2]
number=input("enter a numbers:")
list=[]
for n in range(len(number)):
  list.append(number[n])
print(list)

enter a numbers:1235846264
['1', '2', '3', '5', '8', '4', '6', '2', '6', '4']

In [14]:
#15. Write a program that finds the longest palindromic substring of a given string.

def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                  if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

Enter a string : madam
madam

In [ ]:
#16.  Substring Check 
t=int(input())
for i in range(t):
  A,B=input("Enter A string and B string : ").split()
  if B in A:
    print("1")
  else:
    print("0")

101
Enter A string and B string : 1011 1100
0
Enter A string and B string : 1100 0100
0

In [19]:
17.
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 2
Enter capacity of vessel a : 5
Enter capacity of vessel b : 2
Enter capacity to be obtained :3
Minimum number of steps required is :  2
Enter capacity of vessel a : 2
Enter capacity of vessel b : 3
Enter capacity to be obtained :4
Minimum number of steps required is :  -1